<div ng-show="empresaCtrl.model.mensagemSucesso" class="alert alert-success alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  	Empresa cadastrada com sucesso!
</div>

<div ng-show="empresaCtrl.model.mensagemErro" class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  	Ocorreu um erro ao cadastrar a empresa! Por favor, tente novamente.
</div>

<form>
	<div class="form-group">
	  <label for="nome">Nome:</label>
	  <input type="text" ng-model="empresaCtrl.model.nome" class="form-control" required="true"/>
	</div>

	<div class="form-group">
	  <label for="email">Email:</label>
	  <input type="email" ng-model="empresaCtrl.model.email" class="form-control" required="true"/>
	</div>

	<button type="submit" class="btn btn-default" ng-click="empresaCtrl.cadastrarEmpresa()">Cadastrar</button>
</form>